.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.node-wrapper {
  display: flex;
}

.btn-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
}

.node-wrapper {
  margin-left: 300px;
}

.btn-wrapper {
  margin-top: 30px;
  margin-left: 300px;
}

.btn,
.btn-reset {
  background-color: blue;
  color: white;
  padding: 9px;
  border-radius: 10px;
  border: blue solid 1px;
  font-size: 15px;
  font-weight: 600;
}

.btn:hover,
.btn-reset:hover {
  background-color: rgb(29, 29, 122);
  color: white;
  border: solid 1px white;
}

.btn-reset {
  margin-left: 10px;
}

.instruction {
  font-size: 14px;
}

/* Media query for larger screens (e.g., desktops) */
@media (min-width: 768px) {
  .grid {
    width: 90%;
    margin-top: 20px;
  }

  .node-wrapper,
  .btn-wrapper {
    margin-left: 10%;  /* Centered with some space from the left */
  }

  .btn,
  .btn-reset {
    padding: 12px;
    font-size: 18px;
  }
  
  .instruction {
    font-size: 18px;
  }
}

/* Media query for smaller screens (e.g., tablets, mobile phones) */
@media (max-width: 767px) {
  .node-wrapper,
  .btn-wrapper {
    margin-left: 10px;
  }
  
  .instruction {
    font-size: 12px;
  }
}
