.node {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid rgb(255, 0, 183);
  display: inline-block;
}

@media (max-width: 768px) {
  .node {
    width: 8px;
    height: 8px;
    border: 1px solid rgb(255, 0, 183);
  }
}

.node-start {
  background-color: rgb(0, 255, 166);
}

.node-finish {
  background-color: rgb(60, 0, 255);
}

.node-visited {
  animation: visitedAnimation 1.2s ease-out 0s alternate 1 forwards running;
}

.node-wall {
  background-color: rgb(210, 210, 210);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Keyframes for node-visited animation */
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(251, 255, 0);
  }
  50% {
    transform: scale(0.4);
    background-color: rgb(243, 216, 117);
  }
  75% {
    transform: scale(0.8);
    background-color: rgb(0, 255, 34);
  }
  100% {
    transform: scale(1);
    background-color: rgb(30, 237, 144);
  }
}

/* Keyframes for node-shortest-path animation */
@keyframes shortestPath {
  0% {
    transform: scale(0.4);
    background-color: rgb(248, 60, 176);
  }
  50% {
    transform: scale(0.8);
    background-color: rgb(225, 101, 250);
  }
  100% {
    transform: scale(1);
    background-color: rgb(176, 6, 255);
  }
}

@media (max-width: 767px) {
  .node {
    width: 50px;  
    height: 48px; 
  }
}

@media (min-width: 768px) {
}
