.node {
  width: 25px;
  height: 23px;
  border: 1px solid rgb(255, 0, 183);
  display: inline-block;
}

.node-start {
  background-color: rgb(0, 255, 166);
}

.node-finish {
  background-color: rgb(60, 0, 255);
}

@keyframes visitedAnimation {
  0% {
    background-color: transparent;
    transform: scale(1);
  }
  50% {
    background-color: #00ff00;
    transform: scale(1.2) rotate(20deg);
  }
  100% {
    background-color: #ff00ff;
    transform: scale(1) rotate(0deg);
  }
}

.node-visited {
  animation: visitedAnimation 1.2s ease-out 0s alternate 1 forwards running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    transform: translate(5px, 10%);
    background-color: rgba(255, 96, 0);
  }

  50% {
    transform: scale(0.4);
    background-color: rgba(255, 84, 0);
  }

  75% {
    transform: scale(0.8);
    background-color: rgba(255, 145, 0);
  }

  100% {
    transform: scale(1);
    background-color: rgb(38, 0, 255);
  }
}

.node-wall {
  background-color: rgb(22, 22, 22);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.4);
    background-color: rgb(248, 104, 60);
  }

  50% {
    transform: scale(0.8);
    background-color: rgba(250, 136, 101);
  }

  100% {
    transform: scale(1);
    background-color: rgb(250, 136, 101);
  }
}