/* Base node style */
.node {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #8a8a8a; 
  display: inline-block;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .node {
    width: 8px;
    height: 8px;
    border: 1px solid #8a8a8a;
  }
}

/* Start and Finish node styles */
.node-start {
  background-color: #00bfff; 
}

.node-finish {
  background-color: #800080; 
}

/* Visited node style */
.node-visited {
  animation: visitedAnimation 1.2s ease-out 0s alternate 1 forwards running;
}

/* Wall node style */
.node-wall {
  background-color: #a9a9a9; 
}

/* Shortest path node style */
.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Keyframes for node-visited animation */
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #32cd32;
  }
  50% {
    transform: scale(0.4);
    background-color: #adff2f;  
  }
  75% {
    transform: scale(0.8);
    background-color: #98fb98;  
  }
  100% {
    transform: scale(1);
    background-color: #32cd32; 
  }
}

/* Keyframes for node-shortest-path animation */
@keyframes shortestPath {
  0% {
    transform: scale(0.4);
    background-color: #ff4500;  /* Changed to OrangeRed for better visibility */
  }
  50% {
    transform: scale(0.8);
    background-color: #ff6347;  
  }
  100% {
    transform: scale(1);
    background-color: #ff4500;  
  }
}

/* Responsive styling for very small screens */
@media (max-width: 767px) {
  .node {
    width: 50px;  
    height: 48px; 
  }
}
